<div class="leaderboardContainer">
  <h3 class="leaderBoardTitle">Leader Board</h3>
  <p class="leaderBoardNote">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quia
    iusto, corrupti animi nesciunt eligendi alias temporibus magnam quae dolore
    distinctio ab aperiam, tempora fuga laudantium illum illo cupiditate id.
  </p>
  <div class="winnerContainer">
    <div class="winnerUser">
      <div class="winnerProfile">
        <div class="winnerImg">
          <img [src]="profileImage" alt="Profile Image" />
        </div>
        <div class="profileData">
          <p class="name">Thu Yein Soe' Lady</p>
          <p class="reward">iPhone</p>
        </div>
      </div>
      <button class="gameBtn">Span Wheel</button>
    </div>
    <div class="winnerUser">
      <div class="winnerProfile">
        <div class="winnerImg">
          <img [src]="profileImage" alt="Profile Image" />
        </div>
        <div class="profileData">
          <p class="name">Thu Yein Soe' Lady</p>
          <p class="reward">iPhone</p>
        </div>
      </div>
      <button class="gameBtn">Span Wheel</button>
    </div>
    <div class="winnerUser">
      <div class="winnerProfile">
        <div class="winnerImg">
          <img [src]="profileImage" alt="Profile Image" />
        </div>
        <div class="profileData">
          <p class="name">Thu Yein Soe' Lady</p>
          <p class="reward">iPhone</p>
        </div>
      </div>
      <button class="gameBtn">Span Wheel</button>
    </div>
  </div>
  <div class="moreDetail">View All Leardboard</div>
</div>
