<div class="main-sideContainer">
  <app-home *ngIf="navCode === '01000'"></app-home>
  <app-agent *ngIf="navCode === '02000'"></app-agent>
  <app-ticket-create-history
    *ngIf="navCode === '03000'"
  ></app-ticket-create-history>
  <app-ticket-transaction-history
    *ngIf="navCode === '04000'"
  ></app-ticket-transaction-history>
  <app-game *ngIf="navCode === '05000'"></app-game>
  <app-reward *ngIf="navCode === '06000'"></app-reward>
  <app-game-authority *ngIf="navCode === '08000'"></app-game-authority>
  <app-logout *ngIf="navCode === '07000'"></app-logout>
  <app-game-item *ngIf="navCode === '09000'"></app-game-item>
  <app-game-ticket *ngIf="navCode === '10000'"></app-game-ticket>
  <app-lottery-luckynumber
    *ngIf="navCode === '11000'"
  ></app-lottery-luckynumber>
  <app-lottery-control *ngIf="navCode === '12000'"></app-lottery-control>
  <app-lottery-reward *ngIf="navCode === '13000'"></app-lottery-reward>
</div>
