select {
  width: 100%;
  height: 4.9rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  option {
    cursor: pointer;
  }
}
input::placeholder {
  color: var(--selected-bgcolor);
}
.disable_design {
  cursor: not-allowed;
}
