<div class="main-component">
  <app-nav-bar class="main-navbar"></app-nav-bar>
  <app-left-side class="main-left"></app-left-side>
  <app-spin-wheel-game
    class="game-space"
    *ngIf="pathName === 'spin-wheel'"
  ></app-spin-wheel-game>
  <app-dice *ngIf="pathName === 'dice'" class="game-space"></app-dice>
  <app-luckycard
    *ngIf="pathName === 'lucky-card'"
    class="game-space"
  ></app-luckycard>
  <app-goldlottery
    *ngIf="pathName === 'gold-lottery'"
    class="game-space"
  ></app-goldlottery>
  <app-iphonelottery
    *ngIf="pathName === 'iphone-lottery'"
    class="game-space"
  ></app-iphonelottery>
  <app-lottery1001
    *ngIf="pathName === '100l-lottery1'"
    class="game-space"
  ></app-lottery1001>
  <app-lottery1002
    *ngIf="pathName === '100l-lottery2'"
    class="game-space"
  ></app-lottery1002>

  <app-right-side class="main-right"></app-right-side>
</div>
